__pycache__/
venv/
steps.txt
secrets.py
.DS_Store
**/*.env
dev_script.py
test*
.user.yml
references.md
spotify.drawio
**/extended_streaming_history/

# Airflow
**/logs/*
**/dags/spotify_data/
test_dag.py

# dbt
**target/
**dbt_packages/
**logs/
**.log
**profiles.yml