__pycache__/
venv/
steps.txt
secrets.py
.DS_Store
**/*.env
dev_script.py
test*
.user.yml
1_airflow_docker.md
2_postgres.md
3_dbt.md
4_slack_notifications.md
5_metabase.md
spotify.drawio

# Airflow
**/logs/*
**/dags/spotify_data/
test_dag.py

# dbt
**target/
**dbt_packages/
**logs/
**.log
**profiles.yml